/* Style for the events section */
.events-section {
    padding: 60px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    position: relative;
    background-image: url('./purple-bokeh-light-background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.events-section h2 {
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

/* Style for the events list */
.events-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 0;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    width: 90%;
    position: relative;
}

.events-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}

/* Style for each event card container */
.event-card-container {
    flex: 0 0 auto;  /* Prevent shrinking and ensure cards stay side by side */
}

/* Arrow navigation styles */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Add responsive adjustments */
@media (max-width: 768px) {
    .events-section {
        padding: 40px 40px;
    }

    .events-section h2 {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .events-list {
        gap: 15px;
    }

    .arrow {
        font-size: 1.5em;
        padding: 5px;
    }
}
