/* PromotionalBanner.css */

.promotional-banner {
    position: relative;
    top: 0;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .skew-background {
    position: absolute;
    left: 0;
    inset: 0;
    /* background-color: #8b5cf6; */
    background: #4b0c59;
    transform: skew(-45deg) translateX(50%);
    width: 100%;
    transform-origin: top right;
    -webkit-transform: skew(-45deg) translateX(50%);
    -moz-transform: skew(-45deg) translateX(50%);
    -ms-transform: skew(-45deg) translateX(50%);
    -o-transform: skew(-45deg) translateX(50%);
}
  
  .banner-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
  .text-content {
    width: 40%;
    padding-left: 2rem;
  }
  
  .text-content h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    /* background: linear-gradient(-45deg, white 25%, black 25%); */
    /* background-clip: text; */
    /* color: transparent; */
    /* mix-blend-mode: difference; */
  }
  
  .text-content p {
    font-size: 24px;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .author {
    color: rgb(0, 0, 0);
  }
  
  .image-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .image-wrapper {
    position: absolute;
    left: 33.333%;
    transform: translateX(-50%);
  }
  
  .profile-image {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 20;
  }
  
  @media (max-width: 768px) {
    .promotional-banner {
      height: auto;
      padding: 2rem 0;
    }
  
    .banner-content {
      flex-direction: column;
    }
  
    .text-content, .image-container {
      width: 100%;
      padding: 1rem;
    }
  
    .image-wrapper {
      position: static;
      transform: none;
    }
  
    .profile-image {
      width: 12rem;
      height: 12rem;
      margin: 0 auto;
    }
  }