.header {
  background-color: #4b0c59;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 0;
  height: 10vh;
  margin: 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* max-width: 600px; */
  margin: 0;
}

.search-input {
  /* flex-grow: 1; */
  /* padding: 10px 15px; */
  font-size: 16px;
  border: none;
  /* border-radius: 20px 0 0 20px; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 25vw;
  min-width: 150px;
  height: 50px;
}

.search-button {
  background-color: #d48c07;
  border: none;
  /*padding: 10px 20px;
  */cursor: pointer;
  /*border-radius: 0 20px 20px 0;
  */display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-button:hover {
  background-color: #ffa500;
}

/* Adjust your main content to account for the header */
.main-content {
  /* padding-top: 70px; Adjust this value based on your header's height */
}