.testimony-card {
    min-width: 180px;
    max-width: 300px; /* Added max-width to control the card width */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    height: 370px;
    position: relative;
    margin-top: 80px;
    overflow: visible;
  }
  
  .testimony-card:hover {
    transform: translateY(-20px);
  }
  
  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
  }
  
  .opinion {
    font-size: 1em;
    color: #333;
    margin-top: 80px;
    font-style: italic;
  }
  
  .opinion h4 {
    font-size: 1.2em;
    color: #4b0c59;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .testimony-card {
      min-width: 90%; /* Make the card almost full width on smaller screens */
      height: auto; /* Let the height adjust based on content */
      margin-top: 50px; /* Adjust margin-top for smaller screens */
    }
  
    .user-image {
      width: 120px; /* Reduce image size on smaller screens */
      height: 120px;
      top: -60px; /* Adjust position */
    }
  
    .opinion {
      font-size: 0.9em; /* Adjust text size for smaller screens */
    }
  
    .opinion h4 {
      font-size: 1em; /* Adjust header size for smaller screens */
    }
  }
  